/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Reset CSS */

/* Header */

.container {
	width: 960px;
	min-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: rgb(24, 26, 85) none repeat scroll 0% 0%;
	position: relative;
	z-index: 1000;
}

.container ul {
	display: flex;
	margin: auto;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.container a {
	text-decoration: none;
	color: white;
}

.container img {
	display: block;
	margin-right: 10px;
}

.container .logo {
	align-items: center;
	display: flex;
	color: rgb(255, 255, 255);
}

.container .title {
	display: block;
	letter-spacing: 0.2em;
	color: white;
	text-transform: uppercase;
	font-size: 1.1em;
}

.container .title strong {
	font-weight: 900;
}

.container .title small {
	line-height: 1.4;
	text-transform: uppercase;
	display: block;
	letter-spacing: 0;
	font-weight: 900;
}

.container .links {
	display: flex;
	justify-content: flex-end;
	width: 960px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Source Sans Pro",sans-serif;
	letter-spacing: 0.09em;
	font-size: 1em;
	position: relative;
}

.container .link {
	letter-spacing: 0.05em;
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0 0.2em;
	font-weight: 900;
	padding: 0px;
	position: relative;
	font-size: 1em;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	border: none;
	cursor: pointer;
}

.container .links .dropdown {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	background: rgb(24, 26, 85) none repeat scroll 0% 0%;
	padding: 20px 20px 0px;
	width: 180px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
	margin-top: 1em;
	border-radius: 5px;
}

.container .link .dropdown a {
	margin: .6em 0;
	display: flex;
}

.container .link .dropdown a:hover {
	color: rgb(249, 66, 75);
}

.container .link:hover .dropdown {
	visibility: visible;
	opacity: 1;
	padding: 1em;
}

.container .link::before {
	position: absolute;
	content: "";
	left: 0px;
	height: 3px;
	width: 0;
	bottom: 5px;
	transition: all 0.2s;
	background: rgb(229, 39, 48) none repeat scroll 0% 0%;
}

.container .link:hover::before {
	width: 100%;
}

.container .links > * {
	margin: 1.5em;
}

.container .links a {
	cursor: pointer;
}

.container .links .btn-primary {
	background: rgb(249, 66, 75) none repeat scroll 0% 0%;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1em;
	padding: 0.8em 2.1em;
	box-shadow: rgba(255, 1, 1, 0.4) 0px 10px 20px;
	position: relative;
	color: white;
}

.btn-primary::after {
	width: 0px;
	height: 100%;
	position: absolute;
	background: rgb(229, 39, 48) none repeat scroll 0% 0%;
	display: block;
	transition: all 0.2s ease-in-out 0s;
	z-index: 0;
	content: "";
	bottom: 0px;
	top: 0px;
	left: 0px;
	border-radius: 5px;
}

.btn-primary:hover::after {
	width: 100%;
	border-radius: 5px;
}

.btn-primary span {
	position: relative;
	z-index: 10;
}

/* end of header */

/* Schedule hero section */

.schedule-hero {
	width: 100vw;
	height: 270px;
	background: rgb(24, 26, 85) none repeat scroll 0% 0%;
	display: grid;
	justify-content: center;
	align-content: center;
	border-top: 1px solid white;
	position: relative;
}

.schedule-hero::before {
	background: rgba(0, 0, 0, 0) url("https://adworldconference.com/static/media/pattern-left.8a806302.svg") no-repeat scroll left center / contain;
	content: "";
	height: 100%;
	width: 270px;
	position: absolute;
}

.schedule-hero::after {
	width: 270px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	content: "";
	background: rgba(0, 0, 0, 0) url("https://adworldconference.com/static/media/pattern-right.d45de2c6.svg") no-repeat scroll right center / contain;
}

.schedule-hero article {
	display: grid;
}

.schedule-hero h1 {
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
	letter-spacing: 1px;
}

.schedule-hero p {
	color: white;
	max-width: 700px;
	margin-top: 1em;
	line-height: 1.5;
	text-align: center;
}

/* end of Schedule hero section */

/* Schedule days section */

.schedule {
	width: 75%;
	display: grid;
	align-content: center;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	background-color: #f7f2f2;
}


.schedule .day-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 1em;
	grid-auto-flow: column;
	background-color: crimson;
	width: 90%;
	font-size: 0.9em;
}

.schedule .time-zone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	text-align: center;
	margin-right: 1em;
	font-weight: bold;
}

.schedule .time-zone span {
	font-weight: normal;
}

.day-wrapper a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	padding: 1em;
	border: 1px solid #fbcfcf;
	font-weight: bold;
	box-shadow: 5px 2px 2px #fbcfcf;
}

.day-wrapper a span {
	display: block;
	margin-top: 0.2em;
	font-weight: normal;
}

.day-wrapper a:nth-child(2), a:nth-child(3) {
	background: white;
	color:#443030;
	font-weight: normal;
}


.schedule-items {
	display: grid;
}

/* end of Schedule days section */

/* Schedule items section */

.schedule-items {
	width: 75%;
	display: grid;
	align-content: center;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr;
}

.schedule-items h2 {
	text-align: center;
	margin: 1.5em;
	padding: 1em;
	font-size: 1.2em;
	font-weight: bold;
}

.schedule-items .talk-item {
	margin: 0.5em;
	padding: 0.7em;
	border-right:  4px solid #181A55;
	border-bottom: 2px solid #f7f2f2;
	border-left:   4px solid  #181A55;
} 

.schedule-items .talk-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

.talk-item span {
	display: inline;
}

.talk-item h4 {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	display: inline-block;
	font-weight: bold;
	color: #181A55;
}

.talk-item .schedule-tag {
	color: #181A55;
}

.talk-item .speaker-discipline {
	background-color: rgb(173, 173, 224);
	font-weight: bold;
}

.talk-item .speaker {
	display: inline;
}

.talk-item img {
	margin-top: 1em;
	width: 50px;
	height: 50px;
}

/* end of Schedule items section */